<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>

<body>
  <h1> <%="#{@msg}"%></h1>

  <p><i>Page updated <%="#{@updated}"%> </i></p>

    <table>

      <% i = 1 %>

        <tr>
            <td>
                &nbsp; &nbsp; &nbsp; &nbsp;
            </td>
            <td>

            </td>
            <td>
                team &nbsp; &nbsp; 
            </td>
            <td>
                games &nbsp;
            </td>
            <td>
                <a href="/goals"> <%="#{@formatter.goals('goals')}"%> </a> &nbsp;
            </td>
            <td>
                <a href="/assists"> <%="#{@formatter.assists('assists')}"%> </a> &nbsp;
            </td>
            <td>
                <a href="/points"> <%="#{@formatter.points('points')}"%> </a> &nbsp;
            </td>
            <td>
               <a href="/pim"> <%="#{@formatter.pim('PIM')}"%> </a> &nbsp;&nbsp;&nbsp;
            </td>
            <td>
               <a href="/plusminus"> <%="#{@formatter.plusminus('+/-')}"%> </a> &nbsp;&nbsp;&nbsp;
            </td>
            <td>
                <a href="/shots"> <%="#{@formatter.shots('shots')}"%></a> 
            </td>
          </tr>

        <% @list.each do |player| %>

          <tr>
            <td>
             <%="#{i}"%>
            </td>

            <td>
                <a href=<%="\"http://www.nhl.com#{player.url}"%>>  <%="#{player.name}"%> </a>
            </td>
            <td>
                <%="#{player.team}"%>
            </td>
            <td>
                <%="#{player.games}"%>
            </td>
            <td>
                <%="#{@formatter.goals(player.goals)}"%>
            </td>
            <td>
                <%="#{@formatter.assists(player.assists)}"%>
            </td>
            <td>
                <%="#{@formatter.points(player.points)}"%>
            </td>
            <td>
                <%="#{@formatter.pim(player.pim)}"%>
            </td>
            <td>
                <%="#{@formatter.plusminus(player.plusminus)}"%>
            </td>
            <td>
                <%="#{@formatter.shots(player.shots)}"%>
            </td>
          </tr>

          <% i += 1 %>
        <% end %>

    </table>

</body>
</html>