<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>

<body>
  <h2> <%="#{@msg}"%></h2>

    <table>

        <tr>
            <td>

            </td>
            <td>
                team
            </td>
            <td>
                games
            </td>
            <td>
                <a href="/goals"> <%="#{@formatter.goals('goals')}"%> </a>
            </td>
            <td>
                <a href="/assists"> <%="#{@formatter.assists('assists')}"%> </a>
            </td>
            <td>
                <a href="/points"> <%="#{@formatter.points('points')}"%> </a>
            </td>
          </tr>

        <% @list.each do |player| %>

          <tr>
            <td>
                <%="#{player.name}"%>
            </td>
            <td>
                <%="#{player.team}"%>
            </td>
            <td>
                <%="#{player.games}"%>
            </td>
            <td>
                <%="#{@formatter.goals(player.goals)}"%>
            </td>
            <td>
                <%="#{@formatter.assists(player.assists)}"%>
            </td>
            <td>
                <%="#{@formatter.points(player.points)}"%>
            </td>
          </tr>
        <% end %>

    </table>

</body>
</html>